
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript">
    $(Document().ready(function() {
            $(".datepicker").datepicker()
        })
    </script>
<h2>Edit</h2>
@using (@Html.BeginForm())
{

    @Html.EditorForModel()

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section Scripts {
    @Scripts.Render("~/bundles/")
}
